@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark-mode {
  background-color: #313e51; 
  color: #fff;
}

.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #fff;
}
